<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anima Bank</title>
    <script src="./node_modules/angular/angular.min.js"></script>

    <script src="./js/dist/all.js"></script>

</head>
<body ng-app="app">


    <div ng-controller="CustomerController">

        <form>
            <div>
                <label for="name">Nome:</label>
                <input type="text" id="name" name="name" ng-model="name">
            </div>
    
            <div>
                <label for="email">E-mail:</label>
                <input type="text" id="email" name="email" ng-model="email">
            </div>

            <input type="submit" value="Enviar" ng-click="save()" />
        </form>

        <table ng-init="load()">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Data Criação</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody ng-repeat="c in list">
                <tr>
                    <td>{{c.id}}</td>
                    <td>{{c.name}}</td>
                    <td>{{c.email}}</td>
                    <td>{{c.createdAt}}</td>
                    <td><button ng-click="remove(c.id)">Remover</button></td>
                    <td><button ng-click="edit(c.id)">Editar</button></td>
                </tr>
            </tbody>
        </table>

    </div>

</body>
</html>