<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anima Bank</title>
    <script src="./node_modules/angular/angular.min.js"></script>

    <script src="./js/dist/all.js"></script>

</head>
<body ng-app="app">


    <div ng-controller="CustomerController">

        <form>
            <div>
                <label for="name">Nome:</label>
                <input type="text" id="name" name="name" ng-model="name">
            </div>
    
            <div>
                <label for="email">E-mail:</label>
                <input type="text" id="email" name="email" ng-model="email">
            </div>

            <input type="submit" value="Enviar" ng-click="send()">

            <input type="button" value="Reload" ng-click="load()">
        </form>
        
    </div>

</body>
</html>